<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New Phone</title>
</head>
<body>
<form action="#" th:action="@{/phones/add}" th:object="${phone}" method="post">
  <label for="brand">Brand</label>
  <input type="text" th:field="*{brand}" id="brand" placeholder="Brand">
  <label for="model">Model</label>
  <input type="text" th:field="*{model}" id="model" placeholder="Model">
  <label for="cost">Cost</label>
  <input type="number" th:field="*{cost}" id="cost" placeholder="Cost">
  <label for="colour">Colour</label>
  <input type="text" th:field="*{colour}" id="colour" placeholder="Colour">
  <select th:field="*{user}">
    <option th:each="user: ${users}" th:value="${user.id}" th:text="${user.name}"></option>
  </select>
  <input type="submit" value="Add Phone">
</form>
</body>
</html>